<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - GB</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container">
      <div class="infos">
        <h1>Bem-vindo ao Dashboard</h1>
        <p>
          Por favor, clique no botão abaixo para iniciar o processo de
          autenticação com o Discord.
        </p>
        <a href="/login">
          <button type="submit">
            <img
              src="https://logodownload.org/wp-content/uploads/2017/11/discord-logo-0-2048x2048.png"
              alt="Logo do Discord"
            />
            Continue com Discord
          </button>
        </a>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
