@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --dark-bg: #36393f;
  --dark-server-list: #202225;
  --server-divider: #2d2f32;
  --blurple: #7289da;
  --dark-blurple: #4d5e94;
  --green: #43b581;
  --dark-primary: #2f3136;
  --text-gray: #dcddde;
  --user-box: #232428;
  --iconColor: #b9bbbe;
  --red: #dd4444;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.rootDiv {
  display: grid;
  grid-template-columns: 0px 70px 300px;
  grid-template-rows: auto;
}

.servers {
  width: 70px;
  height: 100vh;
  background-color: var(--dark-server-list);
  overflow-y: auto;
  scrollbar-width: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.servers::-webkit-scrollbar,
.nav::-webkit-scrollbar {
  width: 0px;
}

.homebutton {
  position: relative;
  background-color: var(--dark-bg);
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 11px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.server {
  background-color: var(--dark-bg);
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.server img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
  user-select: none;
}

.invite {
  color: var(--green) !important;
  font-size: 15px;
}

.invite:hover {
  color: #ffffff !important;
  background-color: var(--green) !important;
}

.server-active,
.server:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.server img:hover {
  border-radius: 30%;
  transition: 0.3s;
}

.homebutton:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.server-divider {
  position: absolute;
  margin-top: 14px;
  width: 35px;
  background-color: var(--server-divider);
  height: 2px;
  border: none;
  border-radius: 15px;
}

.side-bar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  float: right;
  width: 80%;
  height: 100vh;
  background-color: var(--dark-primary);
}
.nav {
  overflow-y: auto;
}

.navGuildItems {
  display: flex;
  justify-content: center;
}

.guild-opener {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.navguild {
  border-bottom: 1px solid var(--dark-server-list);
}

.guildDropdown {
  margin-right: 43px;
}

.access {
  display: flex;
  margin-top: 7px;
  flex-direction: column;
  padding-left: 25px;
}

.access h3 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.friends,
.nitro,
.messages {
  gap: 13px;
  display: flex;
  align-items: center;
  color: var(--iconColor);
}

.friends:hover,
.nitro:hover,
.messages:hover {
  background-color: var(--dark-bg);
  border-radius: 4px;
}

.direct-msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0.3px;
  padding: 15px;
  font-weight: 500;
  color: var(--iconColor);
}

.direct-msg svg {
  width: 17px;
}

.addDirectMessages {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #111214;
  color: var(--iconColor);
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Roboto';
  white-space: nowrap;
}

.userBox {
  position: absolute;
  bottom: 0;
  background-color: var(--user-box);
  width: 100%;
  height: 47px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.userBox img {
  width: 31px;
  height: 30px;
  margin-left: 10px;
}

.userAvatar {
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.userAvatar:hover {
  background-color: #000000;
  opacity: 0.8;
}

.userinfo {
  margin-left: 55px;
  cursor: pointer;
}

.username {
  display: block !important;
  margin: 0;
  font-size: 12px;
}

.discriminator {
  display: block !important;
  margin: 0;
  font-weight: lighter;
  color: var(--text-gray);
  font-size: 12px;
}

.guildSelectorName {
  user-select: none;
  cursor: pointer;
}

.guildSelectorName input {
  width: 200px;
  background-color: #1e1f22;
  border: none;
  border-radius: 4px;
  padding: 6.5px;
}

input::placeholder {
  font-weight: 500;
  letter-spacing: 0.13px;
  font-size: 12.5px;
  color: #b9bbbe9a;
}

input:focus {
  color: #b9bbbe9a;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.usermenuicons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.line {
  display: none;
}

.mic,
.headphone,
.settings {
  color: #b9bbbe;
  padding: 3px;
  user-select: none;
  cursor: pointer;
}

.mic svg,
.headphone svg,
.settings svg {
  height: 20px;
  width: 20px;
  fill: var(--iconColor);
}

.mic:hover,
.headphone:hover,
.settings:hover {
  border-radius: 4px;
  background-color: var(--dark-bg);
}

.icon-strikethrough {
  fill: var(--red);
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 500px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #383a40;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.input-container button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--iconColor);
  font-size: 18px;
  margin-right: 8px;
  cursor: pointer;
}

.input-container button:hover {
  color: var(--text-gray);
}

.input-container input {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
}

::placeholder {
  color: #383a40;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #383a40;
}

::-ms-input-placeholder {
  color: #383a40;
}

ion-icon[name='happy'] {
  width: 24px;
  height: 24px;
}

#emoji-list {
  position: absolute;
  background-color: #2b2d31;
  border: 1px solid var(--user-box);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  overflow-y: auto;
  bottom: calc(100% + 10px);
  left: 35%;
  width: 350px;
  max-height: 250px;
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
}

#emoji-list::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

#emoji-list::-webkit-scrollbar-track {
  background: #2f3136;
  border-radius: 10px;
}

#emoji-list::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 10px;
}

#emoji-list span {
  margin-left: 6px;
  font-size: 23.1px;
  cursor: pointer;
}
